Firmware/nodered-Dashboard.json
[{"id":"e1059000277b1b23","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"923f63951aac652c","type":"mqtt out","z":"e1059000277b1b23","name":"","topic":"topic","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"aceb4fc6466f3f8e","x":610,"y":420,"wires":[]},{"id":"069fb27ace07e981","type":"ui_text","z":"e1059000277b1b23","group":"d105680a92cde3ae","order":0,"width":"6","height":"6","name":"","label":"","format":"{{msg.payload}}","layout":"col-center","className":"","x":610,"y":220,"wires":[]},{"id":"7a08b0a0633517a5","type":"debug","z":"e1059000277b1b23","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":180,"wires":[]},{"id":"ff5f71f4b1e205dc","type":"mqtt in","z":"e1059000277b1b23","name":"","topic":"topic","qos":"0","datatype":"auto","broker":"aceb4fc6466f3f8e","nl":false,"rap":true,"rh":0,"inputs":0,"x":330,"y":240,"wires":[["069fb27ace07e981","7a08b0a0633517a5","99ff316d7e0f8956","c39e076ef5eace73"]]},{"id":"b24b60a69893a3f2","type":"inject","z":"e1059000277b1b23","name":"Person4 | Allowed","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Person4 | Allowed","payloadType":"str","x":370,"y":380,"wires":[["923f63951aac652c"]]},{"id":"99ff316d7e0f8956","type":"ui_template","z":"e1059000277b1b23","group":"a7de4f50eac87b14","name":"Picture Changer","order":1,"width":0,"height":0,"format":"<style>\n .card{\n width: 100%;\n height: 300px;\n display: inline-block;\n background-size: contain;\n background-repeat: no-repeat;\n background-position: center;\n \n }\n \n.Person1 {\n background-image: url(\"https://example.com/\");\n}\n\n.Person2{\n background-image: url(\"https://example.com/\");\n}\n\n.Person3{\n background-image: url(\"https://example.com/\");\n}\n\n.Person4{\n background-image: url(\"https://example.com/\");\n}\n\n\n</style>\n\n<div >\n <div \n class=\"card\" \n ng-class=\"{Person1: msg.payload === 'Person1 | Not Allowed', Person2: msg.payload === 'Person2 | Not Allowed', Person3: msg.payload === 'Person3 | Allowed', David: Person4 === 'Person4 | Allowed'}\">\n </div>\n \n</div>\n","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":640,"y":300,"wires":[[]]},{"id":"28cbadae7922cd4a","type":"inject","z":"e1059000277b1b23","name":"Person3 | Allowed","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Person3 | Allowed","payloadType":"str","x":370,"y":420,"wires":[["923f63951aac652c"]]},{"id":"0bd04e2086cf2b44","type":"inject","z":"e1059000277b1b23","name":"Person1 | Not Allowed","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Person1 | Not Allowed","payloadType":"str","x":360,"y":500,"wires":[["923f63951aac652c"]]},{"id":"518f1a877d9c37e8","type":"inject","z":"e1059000277b1b23","name":"Person2 | Not Allowed","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Person2 | Not Allowed","payloadType":"str","x":360,"y":460,"wires":[["923f63951aac652c"]]},{"id":"b9658840cc473e4a","type":"inject","z":"e1059000277b1b23","name":"Clear Dashboard","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":380,"y":340,"wires":[["923f63951aac652c"]]},{"id":"c39e076ef5eace73","type":"ui_toast","z":"e1059000277b1b23","position":"bottom left","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":640,"y":260,"wires":[]},{"id":"aceb4fc6466f3f8e","type":"mqtt-broker","name":"HiveMQ Broker","broker":"broker.hivemq.com","port":"1883","clientid":"node-redPC","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"d105680a92cde3ae","type":"ui_group","name":"Person","tab":"bb1c720a8b9e7818","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"a7de4f50eac87b14","type":"ui_group","name":"Face","tab":"bb1c720a8b9e7818","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"bb1c720a8b9e7818","type":"ui_tab","name":"Face Recognition","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
